<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/integration</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="error_reporting" value="E_ALL" />
        <ini name="display_errors" value="On" />
        <ini name="display_startup_errors" value="On" />
        <env name="DB_HOST" value="127.0.0.1" force="true"/>
        <env name="DB_PORT" value="3306" force="true"/>
        <env name="DB_DATABASE" value="naser_cms" force="true"/>
        <env name="DB_USERNAME" value="naser_user" force="true"/>
        <env name="DB_PASSWORD" value="naser_pass_2024" force="true"/>
        <env name="JWT_SECRET" value="your-secret-key" force="true"/>
        <env name="JWT_EXPIRY" value="3600" force="true"/>
        <env name="APP_DEBUG" value="true" force="true"/>
    </php>
</phpunit>
